:root {
  --primary-very-dark-saturated-blue: hsl(238, 29%, 16%);
  --primary-soft-red: hsl(14, 88%, 65%);
  --background-gradient-soft-violet: hsl(273, 75%, 66%);
  --background-gradient-soft-blue: hsl(240, 73%, 65%);
  --neutral-very-dark-grayish-blue: hsl(237, 12%, 33%);
  --neutral-dark-grayish-blue: hsl(240, 6%, 50%);
  --divider-light-grayish-blue: hsl(240, 5%, 91%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 5em 1em;
  background: linear-gradient(
    180deg,
    var(--background-gradient-soft-violet) 50%,
    var(--background-gradient-soft-blue) 100%
  );
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop{
  display: none;
}

.img-container {
  height:220px;
  background: url("images/bg-pattern-mobile.svg");
  background-repeat: no-repeat;
  background-position: top 110px left 50%;
  width: fit-content;
  position: absolute;
  width: 100%;
  top:-110px;
  left:0;
  text-align: center;
}

.container {
  position: relative;
  min-width: 297px;
  width: 90%;
  background-color: white;
  border-radius: 30px;
  margin-top: 7em;
  padding: 5em 2em 2em 2em;
}

.faq {
  text-align: center;
  font-weight: 700;
  margin-top: 3em;
  margin-bottom: 1em;
}

.question-answer-block {
  margin: 1em 0em;
  width: 100%;
  border-bottom: 1px solid var(--divider-light-grayish-blue);
}

.question {
  margin-bottom: 1.5em;
  position: relative;
  transition: font-weight 500ms ease;
}

.question:hover {
  color: var(--primary-soft-red);
  cursor: pointer;
}

.question::after {
  content: url("images/icon-arrow-down.svg");
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 0;
  transition:transform 400ms ease 100ms;
}

.answer {
  margin-bottom: 0em;
  max-height: 0px;
  opacity: 0;
  transition: all 200ms ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ label .question {
  font-weight: bold;
}

input[type="checkbox"]:checked ~ .answer {
  max-height: 500px;
  opacity: 1;
  transition: all 400ms ease 300ms;
  margin-bottom: 2em;
}

input[type="checkbox"]:checked ~ label .question::after{
  transform: rotate(180deg);
}

@media (min-width: 1000px) {

  .mobile{
    display:none;
  }

  .desktop{
    display:block;  
  }
  .img-container{
    padding-top:5em;
    height:500px;
    position:relative;
    left:-100px;
    bottom:0;
    top:-80px;
    background:url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
  .container{
    display: flex;
    overflow: hidden;
    max-height: 500px;
    max-width:950px;
  }

  .faq{
    margin-top:0;
    text-align: left;
    font-size: 2em;
  }

  .question{
    font-size:1.3em;
  }

  .info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .answer{
    line-height: 20px;
  }
}
