:root {
  --primary-desaturated-red: hsl(0, 36%, 70%);
  --primary-soft-red: hsl(0, 93%, 68%);
  --primary-neutral-dark-grayish-red: hsl(0, 6%, 24%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-image:linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));
}

/* styles for the info container */

.info-container {
  width: 100%;
  padding: 1rem 2rem 3rem;
  text-align: center;
}

.description {
  color: var(--primary-desaturated-red);
  line-height: 20px;
  font-size: 14px;
}

.page-title {
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--primary-neutral-dark-grayish-red);
}

.bold-with-color {
  color: var(--primary-desaturated-red);
  font-weight: 300;
}

/* styles for the image container */
.image-container {
  width: 100%;
  height: 18em;
  background-color: blue;
  background-image: url("images/hero-desktop.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  padding: 2em;
}

.submit-form {
  position: relative;
}

.submit-form input {
  border: none;
  border: 1px solid var(--primary-desaturated-red);
  border-radius: 100px;
  width: 100%;
  height: 50px;
  padding: 0 2rem;
  color: var(--primary-desaturated-red);
}

.submit-form input::placeholder {
  color: var(--primary-desaturated-red);
}

.submit-form button {
  position: absolute;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  height: 50px;
  width: 70px;
  border-radius: 100px;
  right: 0px;
  cursor: pointer;
}

.submit-form input:focus {
  outline: none;
}

.submit-form button:hover,
.submit-form button:focus{
  background-image: none;
  background-color:hsl(0, 80%, 86%);
}

.error-text{
  text-align: left;
  padding-left: 2rem;
  font-size:13px;
  color:var(--primary-soft-red);
  position:relative;
}

.error-text::after{
  content:url("images/icon-error.svg");
  position:absolute;
  top:-3.8em;
  right:6em;
}

.invisible{
  display:none;
}

form .red-border{
  border:2px solid var(--primary-soft-red);
  border-radius:100px;
}

@media (min-width:850px) {
  .container{
    display:flex;
    flex-direction: row-reverse;
    height:100%;
    background-image: url("images/bg-pattern-desktop.svg");
  }

  .info-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    padding:5rem 7rem;
    font-size:1.5em;
  }

  .page-title{
    margin:0;
  }

  .description{
    margin:2em 0;
  }

  .logo-container{
    position:absolute;
    padding:3rem 7rem;
    margin-bottom: 2em;
  }

  .image-container{
    height:100%;
  }

  .submit-form{
    max-width: 450px;
  }
}